
 #login {
  width: 100px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}
.main-registration-container1{
 margin-top: -10px;
  background-size:cover;
    background-repeat: no-repeat;
    background-image:url("https://demo.w3layouts.com/demos_new/template_demo/04-09-2018/material_login_form_demo_Free/1151555033/web/images/cover4.jpg");
    min-height:70vh;
    max-height:170vh;
    background-attachment: fixed

}
.main-registration-container2{
  margin-top: -10px;
   background-size:cover;
     background-repeat: no-repeat;
     background-image:url("https://demo.w3layouts.com/demos_new/template_demo/04-09-2018/material_login_form_demo_Free/1151555033/web/images/cover4.jpg");
     min-height:70vh;
     max-height:250vh;
     background-attachment: fixed
 }

 .main-registration-container3{
  margin-top: -10px;
   background-size:cover;
     background-repeat: no-repeat;
     background-image:url("https://demo.w3layouts.com/demos_new/template_demo/04-09-2018/material_login_form_demo_Free/1151555033/web/images/cover4.jpg");
     min-height:70vh;
     max-height:250vh;
     background-attachment: fixed
 }

form label, form input {
  display: block;
  margin-bottom: 10px;
  width: 90%
}

form input {
  padding: 10px;

  border: solid 1px #BDC7D8;

}

.button1 {
  background-color: #28d;
  border-color: #3ac162;
  font-weight: bold;
  
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px; 
}
.register{
 
  color: white;
  margin: 8px 15%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 150px;
}
.new-registration{
padding-left: 400px;
color: #b4b4b4;
}
.description_area{
width: 90%;
}
.drive{
padding-left: 38%;
color: #b4b4b4;
}
.language{
  padding-left: 73%;
}
.drive-heading{
  text-align: center;
  padding-right:10%
}
.size{
  margin-left: -3%;
}

.dropdown1 {
  box-sizing: border-box;
  display: block;
  width: 87%;
  /* border-width: 1px;
  border-style: solid; */
  padding: 16px;
  margin-left: 20px;
  outline: none;
  font-family: inherit;
  font-size: 12px;
  color: gray;
}