    
.username-password-formholder{
    top:35%;
    left:20%;
}

.username-password-form{
    display: flex;
    margin:5% auto;
    padding:0.8em 2em;
    width: 30%;
    background-color:rgba(0,0,0,0.3);
    
    border-radius: 0.5em;
}
.username-txt-field,.password-txt-field{
    margin-bottom: 1em;
    width: 100%;
}

.username-password-form a{
    align-self: center;
}

.username-password-form a .submit-btn{
    padding:0.3em 5em; 
    border:none;
    cursor:pointer;
    font-size: 1.2em;
    border-radius: 0.3em;
}

.show{
    display: block;
}
.hidden{
    display: none;
}

.loginformback {
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url("https://demo.w3layouts.com/demos_new/template_demo/04-09-2018/material_login_form_demo_Free/1151555033/web/images/cover4.jpg");
    min-height:100vh;
    max-height:100vh;
   
}
.input1{
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: rgba(0,0,0,0.1);
    color:white;
    padding:10px;
    border-radius:25px;
    border:2px solid dodgerblue
}
.p1{
    margin: 0;
    color: white;
    font-family:Calibri;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    
}
.button {
    background-color: dodgerblue;
    color:white;
    padding:10px 40px;
    cursor:pointer;
    margin-left:5%;

    border-radius:25px;
    border:dodgerblue;
    width:90%;
}
.button1 {
    background-color: dodgerblue;
    font-family:Calibri;
    font-weight:lighter;
    color:white;
    padding:10px 40px;
    cursor:pointer;
    margin-left:25%;
    border-radius:25px;
    border:dodgerblue;
    width:60%;
}
.button:hover {
    border:2px solid dodgerblue;  
}
.button1:hover {
    border:2px solid dodgerblue;  
}
.forgot {
    padding:15px;
    color:white;
    
}
.pu{
    margin-left:5px;
    margin: 0;
    color: white;
    font-family:Calibri;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
}
 .pp{
    margin-left:5px;
    margin: 0;
    color: white;
    font-family:Calibri;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
 }
 